<div
  class="flex justify-between navbar px-60 min-w-screen bg-black/30 sticky top-0 backdrop-blur-md"
>
  <div class="flex p pt-2 pb-2 items-center">
    <img src="assets/images/1f436.png" alt="" class="h-10 w-10" />
    <div class="ml-4">
      <h1 class="text-white font-bold text-2xl">VetCare</h1>
      <p class="text-gray-400 font-semibold text-xs">Cuidado profesional</p>
    </div>
  </div>
  <div class="flex gap-5">
    <button
      routerLink="/auth/login"
      class="text-white/80 hover:text-white hover:bg-white/10 font-medium text-sm py-2 px-4 rounded-lg cursor-pointer active:scale-95"
    >
      Inicia Sesión
    </button>
    <button
      routerLink="/auth/register"
      class="text-white/80 py-2 px-4 rounded-lg bg-buttons text-sm font-medium hover:font-bold hover:scale-105 transition-transform duration-200 ease-out active:scale-95 cursor-pointer"
    >
      Registrarse
    </button>
  </div>
</div>
