<div class="bg-background min-h-screen relative">
  <div
    class="absolute top-50 left-8 animate-[float_4s_ease-in-out_infinite] transform-gpu will-change-transform"
  >
    <lucide-icon [img]="pawPrint" class="text-white/20 h-8 w-8"></lucide-icon>
  </div>

  <div
    class="absolute top-80 right-10 animate-[float_3s_ease-in-out_infinite] transform-gpu will-change-transform"
  >
    <lucide-icon [img]="heart" class="text-white/20 h-6 w-6"></lucide-icon>
  </div>

  <div
    class="absolute top-180 left-100 animate-[float_4s_ease-in-out_infinite] transform-gpu will-change-transform"
  >
    <lucide-icon
      [img]="stethoscope"
      class="text-white/20 h-10 w-10"
    ></lucide-icon>
  </div>
  <router-outlet />
</div>
