<section class="flex flex-col justify-center items-center mt-2">
  <div
    class="bg-white/10 backdrop-blur-sm border border-white/20 rounded-lg px-10 py-5 w-96"
  >
    <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="login()">
      <div class="flex items-center gap-2 justify-center">
        <lucide-icon
          [img]="heart"
          class="text-buttons"
          strokeWidth="3"
          size="18"
        ></lucide-icon>
        <h1 class="font-bold text-2xl text-center text-white mt-[-3px]">
          Crear cuenta
        </h1>
      </div>

      <p class="text-white/60 text-sm mt-1 mb-6">
        Únete a VetCara para cuidar mejor a tu mascota
      </p>
      <form class="flex flex-col gap-6">
        <div>
          <p class="text-[13px] font-semibold text-white mb-1">
            Nombre Completo
          </p>
          <div class="relative flex items-center">
            <lucide-icon
              [img]="user"
              class="absolute top-1/2 -translate-y-1/2 pl-1"
              size="20"
            ></lucide-icon>
            <input
              type="text"
              formControlName="email"
              placeholder="Tu nombre completo"
              class="pl-10 text-white text-sm bg-white/30 rounded p-2 w-full placeholder:text-md placeholder:text-white/40 outline-2 outline-gray-500 focus:ring-[1px] focus:ring-white focus:outline-none"
            />
          </div>
        </div>
        <div>
          <p class="text-[13px] font-semibold text-white mb-1">Email</p>
          <div class="relative flex items-center">
            <lucide-icon
              [img]="mail"
              class="absolute top-1/2 -translate-y-1/2 pl-1"
              size="20"
            ></lucide-icon>
            <input
              type="text"
              formControlName="email"
              placeholder="Correo electrónico"
              class="pl-10 text-white text-sm bg-white/30 rounded p-2 w-full placeholder:text-md placeholder:text-white/40 outline-2 outline-gray-500 focus:ring-[1px] focus:ring-white focus:outline-none"
            />
          </div>
        </div>
        <div>
          <p class="text-[13px] text-white font-semibold mb-1">Contraseña</p>

          <div class="relative">
            <lucide-icon
              [img]="lock"
              class="absolute top-1/2 -translate-y-1/2 pl-1"
              size="20"
            ></lucide-icon>

            <input
              type="password"
              formControlName="password"
              placeholder="Contraseña"
              class="pl-10 text-white text-sm bg-white/30 rounded p-2 w-full placeholder:text-md placeholder:text-white/40 outline-2 outline-gray-500 focus:ring-[1px] focus:ring-white focus:outline-none"
            />
          </div>
        </div>

        <button
          class="disabled:cursor-not-allowed transition-all duration-200 hover:scale-105 active:scale-95 mt-2 rounded-lg bg-buttons shadow-xl text-amber-50 text-sm p-2 font-semibold cursor-pointer hover:ring-[2.1px] hover:ring-buttons/40"
          type="submit"
          [disabled]="myForm.invalid"
        >
          Crear Cuenta
        </button>
      </form>
    </form>
  </div>
</section>
